/***
*  This file is imported in components/app-layout/AppLayout.scss
*/

@-ms-viewport { // stylelint-disable-line
  width: device-width;
}

@-o-viewport { // stylelint-disable-line
  width: device-width;
}

@viewport {
  width: device-width;
}

html, body { // stylelint-disable-line
  min-height: 100vh;

  background: #fff;
}




#react-root, article, div, footer, header, main, nav, section{
  -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    border: 0 solid #000;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    position: relative;
}

html { // stylelint-disable-line
  -webkit-overflow-scrolling: touch;

  overflow-x: hidden;
  // always show the vertical scrollbar so that content doesn't jump
  overflow-y: scroll;

  box-sizing: border-box;
}

// inherited from <html>
*,
*::before,
*::after {
  box-sizing: inherit;
}

body { // stylelint-disable-line
  position: relative;

  margin: 0;

  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $color-default;

  // iOS on orientation change
  text-size-adjust: 100%;

  overflow-x: hidden;
}

a, abbr, acronym, address, applet, article, aside, 
audio, b, big, blockquote, body, canvas, caption, 
center, cite, code, dd, del, details, dfn, div, dl, 
dt, em, embed, fieldset, figcaption, figure, footer, 
form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, 
iframe, img, ins, kbd, label, legend, li, mark, menu, 
nav, object, ol, output, p, pre, q, ruby, s, samp, 
section, small, span, strike, strong, sub, summary, 
sup, table, tbody, td, tfoot, th, thead, time, tr, tt, 
u, ul, var, video  {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

img { // stylelint-disable-line
  display: block;
  max-width: 100%;
  height: auto;
}

// placeholders
input, textarea, select { // stylelint-disable-line
  &::-webkit-input-placeholder { // stylelint-disable-line
    color: $color-placeholder;
  }

  &::-moz-placeholder { // stylelint-disable-line
    opacity: 1;
    color: $color-placeholder;
  }

  &:-ms-input-placeholder { // stylelint-disable-line
    color: $color-placeholder;
  }
}
