@import '~styles/config';

.fItem {
	&__section {
		display: flex;
		margin-bottom: 28px;
		flex-direction: row;
	}

	&__each {
		margin-right: 28px;
		flex: 1;
	}

	&__case {
		background-color: #efefef;
		display: block;
		width: 100%;

		bottom: 0;
		right: 0;
		left: 0;
		top: 0;

		position: relative;
	}

	&__content {
    	@include reset-anchor;
    	display: block;
    	overflow: hidden;
    	padding-bottom: 100%;

    	&Img {
			display: block;
			position: absolute;
			width: 100%;
			height: auto;
			user-select: none;

			left: 0;
			top: -20%;
		}


		// OVERLAY WHEN HOVERING ON AN ITEM
    	&:hover {

			.fItem {
				&__overlay {
					display: flex;
				    position: absolute;
				    width: 100%;
				    height: 100%;
				    background-color: rgba(0, 0, 0, 0.3);
				    top: 0; 
				}

				&__title{
					display: flex;
					flex: 1;
					flex-direction: column;
					text-align: center;
					color: #fff;
				}

				&__title {
					&Text, &Buy, &Extra {
						flex: 1;
					}

					&Buy {
						justify-content: center;
					}

					&Extra {

					}
					

				}

				&__buyBtn {
					cursor: pointer;
					border: 2px double #fff;
					margin: 0 auto;
					padding: 5px;
					width: calc(100% - 40%);
					&:hover {
						background-color: orange;
					}
				}

				&__Fav {
					background: url('../../../assets/images/fav-unselect.png') no-repeat center;
					background-size: cover;
					bottom: 2%;
					cursor: pointer;
					position: absolute;
					right: 1%;
					
					height: 30px;
					width: 30px;
					&:hover {
						background-image: url('../../../assets/images/fav-select.png');
					}
				}


				&__overlayFav {
					display: block;
					position: absolute;
				    bottom: 2%;
				    right: 0;
				    width: 10%;
				    transform:translate(-50%, -50%);
				    color:white;
				}
			}
		}
	}

	&__overylay, &__title, &__overlayFav {
		display: none;
	}
	

	// GRID

	&__gridCol {
		width: 100%;
	    display: block;
	    position: relative;
		&:after {
			font-size: 14px;
		    position: absolute;
		    top: 10px;
		    left: 25px;
		    right: 25px;
		    font-family: monospace;
		    color: #777;
		}
	}



}







@media(max-width: 900px) {
	.fItem {
		
	}
}

@media(max-width: 620px) {
	.fItem {
		
	}
}

@media(min-width: 375px) {
	.fItem {
		&__section, &__each {
			@include items;
		}
	}
}
