@import '~styles/config';

.home {
	&__bg {
		background-image: url('../../assets/images/Home/ScoutGather.jpg');
	  	background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 50vw;
		border-radius: 0 !important;
	}
}
/* Media Q when at 700px */
@media(max-width: 700px) {
	.home {
	  &__bg {
	  	height: 100vw;
	  }
	}
}

.subTitle {
	&__container {
		display: -webkit-box;
		justify-content: center;
		align-items: center;
		height: 200px;
		margin: 0 10%;
		border-bottom: 2px solid black;
	}

	&__text {
		flex: 1;
		font-size: 1.25em;
		font-weight: bold;
		font-style: italic;
		text-align: center;

	}
}

