@import '~styles/config';

.cItem {
	&__section {
		display: flex;
		margin-bottom: 28px;
		flex-direction: row;
	}

	&__each {
		margin-right: 28px;
		flex: 1;
	}

	&__case {
		background-color: #efefef;
		display: block;
		width: 100%;

		bottom: 0;
		right: 0;
		left: 0;
		top: 0;

		position: relative;
	}

	&__content {
    	@include reset-anchor;
    	display: block;
    	overflow: hidden;
    	padding-bottom: 100%;

    	&Img {
			display: block;
			position: absolute;
			width: 100%;
			height: auto;
			user-select: none;

			left: 0;
			top: -20%;
		}

    	&:hover {
			cursor: pointer;
			.cItem {
				&__overlay {
					display: flex;
				    position: absolute;
				    width: 100%;
				    height: 100%;
				    background: black;
				    opacity: 0.5;
				    top: 0; 
				}

				&__title{
					display: flex;
					flex: 1;
					flex-direction: column;
					text-align: center;
					color: #fff;
				}

				&__title {
					&Text {
						flex: 1;
						
					}
					&Fav {
						margin-right: 2%;
						margin-bottom: 2%;
						flex: 1;
						background: url('../../../assets/images/fav-unselect.png') no-repeat bottom right;

					}

				}


				&__overlayFav {
					display: block;
					position: absolute;
				    bottom: 2%;
				    right: 0;
				    width: 10%;
				    transform:translate(-50%, -50%);
				    color:white;
				}
							}
		}
	}

	&__overylay, &__title, &__overlayFav {
		display: none;
	}
	

	// GRID

	&__gridCol {
		width: 100%;
	    display: block;
	    position: relative;
		&:after {
			font-size: 14px;
		    position: absolute;
		    top: 10px;
		    left: 25px;
		    right: 25px;
		    font-family: monospace;
		    color: #777;
		}
	}



}







@media(max-width: 900px) {
	.cItem {
		
	}
}

@media(max-width: 620px) {
	.cItem {
		
	}
}

@media(min-width: 375px) {
	.cItem {
		&__section, &__each {
			@include items;
		}
	}
}
